#Primero{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  border: 5px;
}

.Segundo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Tercero{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}